.divcontainer {
  height: 90vh;
  background-image: url("../assets/contact-bg.png");
  background-position: 30% 99%;
  background-repeat: no-repeat;
  background-size: cover;
}
.forShadow {
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  background-color: rgba(158, 178, 196, 0.484) !important;
  backdrop-filter: blur(0px) !important;
}

.forShadow h3 {
  color: var(--main-color);
}
