.divcontainer {
  /* height: 90vh; */
  height: 100%;

  background-image: url("../assets/bg-create-team.png");
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.forShadow {
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  background-color: #e9edf8 !important;
  backdrop-filter: blur(0px) !important;
  color: #000 !important;
}

.forShadow h4 {
  color: var(--main-color);
}
.amountLabel {
  padding-left: 0.9rem;
  font-size: 0.9rem;
}
.amountInput {
  border: none;
  padding: 1rem;
}
.amountInput:focus-visible {
  outline: none;
}
.amountInput::placeholder {
  text-align: center;
  font-size: 1.2rem;
}
