.div-payment {
  height: 90vh;
  background-image: url("../assets/Payment.png");
  background-position: 20% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.div-paypal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-paypal img {
  width: 70%;
  object-fit: cover;
  height: auto;
}
.form-check-input:checked {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.forHead h2 {
  margin-left: 16rem;
}
