.divpayment {
  /* height: 90vh; */
  height: 100%;
  background-image: url("../assets/Payment.png");
  background-position: 20% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.divpaypal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divpaypal img {
  width: 70%;
  object-fit: cover;
  height: auto;
}

.forHead h2 {
  margin-left: 16rem;
}

.forShadow {
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  background-color: rgba(158, 178, 196, 0.484) !important;
  backdrop-filter: blur(0px) !important;
}
