.divleader {
  height: 90vh;
  background: url("../assets/bg-create-team.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 20% 20%;
}
.tableclass thead th {
  background-color: var(--main-color);
  border-bottom: none;
  text-align: center;
  color: #000;
}
.tableclass tbody td {
  background-color: #78a6d4;
  color: #000;
  text-align: center;
  border-bottom: 2px solid #13338a;
  padding: 0.8rem 0rem;
  font-weight: 600;
}
.classInput {
  border-radius: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}
.divSearch button {
  width: 100% !important;
  background-color: var(--main-color);
  padding: 0.5rem;
}
.divWin button {
  width: 100% !important;
  background-color: #36a7ea !important;
  padding: 0.5rem;
}
.leaderColor {
  position: relative;
  display: inline-block;
  color: #000;
  z-index: 9;
}

.leaderColor::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px; /* Adjust the distance from the original position */
  width: calc(100% + 40px); /* Adjust the width to cover the text width */
  height: 100%;
  background-color: var(--main-color);
  color: #000 !important;
  /* Adjust the background color */
  transform: skew(-15deg); /* Adjust the skew angle as needed */
  transform-origin: 0 0; /* Set the origin of skew */
  z-index: -1; /* Place behind the text */
}
.recColor {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: 700;
  z-index: 9;
}

.recColor::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px; /* Adjust the distance from the original position */
  width: calc(100% + 20px); /* Adjust the width to cover the text width */
  height: 100%;
  background-color: #36a7ea;
  /* Adjust the background color */
  transform: skew(-15deg); /* Adjust the skew angle as needed */
  transform-origin: 0 0; /* Set the origin of skew */
  z-index: -1; /* Place behind the text */
}
