body {
  background-image: radial-gradient(
      circle at 50% 50%,
      #ddd,
      #ddd 1px,
      transparent 1px
    ),
    radial-gradient(circle at 0 0, #ddd, #ddd 1px, transparent 1px),
    radial-gradient(circle at 0 100%, #ddd, #ddd 1px, transparent 1px),
    radial-gradient(circle at 100% 0, #ddd, #ddd 1px, transparent 1px),
    radial-gradient(circle at 100% 100%, #ddd, #ddd 1px, transparent 1px);
}
.drop-file-input {
  position: relative;
  width: 400px;
  max-width: 400px;
  /* height: 200px; */
  /* border: 2px dashed #0d6efd; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-repeat: no-repeat;
}
.box-b {
  background-image: repeating-linear-gradient(
      45deg,
      var(--secondary-color),
      var(--secondary-color) 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      135deg,
      var(--secondary-color),
      var(--secondary-color) 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      225deg,
      var(--secondary-color),
      var(--secondary-color) 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      315deg,
      var(--secondary-color),
      var(--secondary-color) 10px,
      transparent 10px,
      transparent 20px
    );
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  color: gray;
  font-weight: 400;
  padding: 1rem;
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 30px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  background-color: var(--input-bg);
  padding: 15px;
  border-radius: 20px;
}

.drop-file-preview__item img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.drop-file-preview__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drop-file-preview__item__del {
  background-color: #ffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  top: 36%;
  transform: translateY(-50%);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
  opacity: 1;
}
