@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --main-color: #ffa100;
  --secondary-color: #237cfd;
}
a {
  text-decoration: none;
}

.btn {
  background-color: var(--main-color) !important;
  border: none;
  padding: 0.8rem;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 700;
}
.btnn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btnn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

/* #forId .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000 !important;
  background-color: transparent !important;
  background-clip: padding-box;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */
.form-check-input:checked {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.effect span:hover {
  color: var(--main-color);
}
.user {
  font-size: 14px;
}
.foruploadbtn {
  background-color: var(--secondary-color) !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.not-allowed-cursor {
  cursor: not-allowed;
}
